.about{
    position: relative;
    height: 100vh;

    #{&}__container{
        @include setDisplayFlex(column,center,center);

        max-width: getMaxWidth(m-width-s);
        margin: 0 auto;
        padding: 1rem;
        height: 100%;

        h2{
            display: none;
            color: getColor(primary);
        }
    }

    #{&}__half{
        display: none;
    }

    #{&}__image-box{
        margin: auto;
        width: 90%;
        img{
            mix-blend-mode: luminosity;
        }
    }

    #{&}__info{
        position: absolute;
        text-align: center;
        letter-spacing: 2px;
        color: getColor(primary);
        background-color: getBgColor(light-red-tr);
        max-width:  getMaxWidth(m-width-s);
        bottom: 12rem;
        padding: 1.3rem 0;

        &__container{
            @include setDisplayFlex(column,center,center);

            span{
                align-content: flex-start;
                color: getColor(active);
    
                &:nth-child(1n){
                    margin: .5rem 0;
                }
            }
            h2{
                display: unset;
                color: getColor(primary);
            }
        }
        
    }

}