.about{
    position: relative;
    height: 100vh;

    #{&}__container{
        @include setDisplayFlex(column,center,center);

        max-width: getMaxWidth(m-width-s);
        margin: 0 auto;
        height: 100%;
    }

    #{&}__image-box{
        margin: auto;
        width: 90%;
        mix-blend-mode: luminosity;
    }

    #{&}__info{
        @include setDisplayFlex(column,space-evenly,center);
        position: absolute;
        text-align: center;
        color: getColor(primary);
        background-color: getBgColor(light-red-tr);
        margin: auto;
        top: 210px;
        left: 0;
        right: 0;
        bottom: 0;
        max-width:  getMaxWidth(m-width-s);
        height: 10rem;
        letter-spacing: 2px;
        span{
            align-content: flex-start;
            color: getColor(active);
        }
    }

}