.about{
    position: relative;
    height: 100vh;
    padding: 1rem;

    #{&}__container{
        position: relative;
        @include setDisplayFlex(column,center,center);
        height: 100%;
        max-width: getMaxWidth(m-width-s);
        margin: 0 auto;
        h2{
            display: none;
            color: getColor(active);
        }
        &__fit{
            position: relative;
            @include setDisplayFlex(column,center,center);
            width: 100%;
            height: 100%;
        }
    }
    
    #{&}__title{
        color: getColor(primary);
        text-align: center;
        letter-spacing: 4px;
    }

    #{&}__half{
        position: relative;
        @include setDisplayFlex(column,center,center);
        margin-bottom: 3rem;
    }

    #{&}__image-box{
        height: 50%;
        max-width: getMaxWidth(m-width-s);
        background-color: getBgColor(prev-primary);
        img{
            height: 100%;
            mix-blend-mode: luminosity;
        }
    }

    #{&}__info{
        position: absolute;
        text-align: center;
        color: getColor(primary);
        background-color: getBgColor(light-red-tr);
        margin-top: 15rem;
        padding: 1rem 0;
        width: 100%;
        border-radius: 1rem;
        
        &__container{
            @include setDisplayFlex(column,center,center);
            letter-spacing: 2px;
            span{
                align-content: flex-start;
                color: getColor(active);
    
                &:nth-child(1n){
                    margin: .5rem 0;
                }
            }
            h2{
                display: unset;
                color: getColor(primary);
            }
        }
        
    }

}