.header{
    position: relative;
    height: 100vh;

    #{&}__container{
        @include setDisplayFlex(column,center,center);
        
        max-width: getMaxWidth(m-width-s);
        margin: 0 auto;
        padding: 1rem;
        height: 100%;
    }

    #{&}__logo{
        margin-bottom: 1.5rem;
    }

    #{&}__info{
        position: relative;
        text-align: center;
        color: getColor(active);
        font-style: italic;
        top: -6rem;
        
        span{
            color: getColor(primary);
            font-weight: bold;
        }
    }

}