.header{
    position: relative;
    height: 100vh;
    padding: 1rem;

    #{&}__container{
        position: relative;
        @include setDisplayFlex(column,center,center);
        height: 100%;
        max-width: getMaxWidth(m-width-s);
        margin: auto;
    }
    #{&}__info{
        position: relative;
        text-align: center;
        color: getColor(not-active);
        // font-style: italic;
        top: -5%;
        
        span{
            color: getColor(primary);
            font-weight: bold;
        }
    }

}