/* reset */
// @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//font-family: 'Courier Prime', monospace;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// font-family: 'Open Sans', sans-serif;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: unset;
}

.f-span,
.n-span,
h1,
h2,
h3,
h4,
h5{
  cursor: pointer;
}

body{
  background-color: getBgColor(primary);
}

ul{
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

a{
  text-decoration: none;
  color: unset;
}

img{
  max-width: 100%;
  display: block;
}

svg{
  width: 100%;
  height: 100%;
}

//set default font size for mobile
@include setFontSize(h1-s, h2-s, n-span-s, f-span-s);

.nav,
.header,
.about__info__container,
.works__list__container,
.footer__container{
  font-family: $OpenSans;
  letter-spacing: 4px;
}

