// responsive medium screen //768px
@include media-md{
    .header{
        #{&}__container{
            max-width: getMaxWidth(m-width-m);
        }
    }
    .about{
        #{&}__image-box{
            max-width: getMaxWidth(m-width-m);
        }
    }
    .works{
        #{&}__container{
            max-width: getMaxWidth(m-width-m);
        }

        #{&}__img-box{
            max-width: getMaxWidth(m-width-s);
        }
    }
    .footer{
        #{&}__container{
            max-width: getMaxWidth(m-width-m);
        }
        #{&}__logo{
            width: 80%;
        }
    }
}

// responsive large screen //1200px
@include media-lg{
    .header{
        #{&}__container{
            max-width: getMaxWidth(m-width-l);
        }
        #{&}__logo{
            width: 55%;
            margin: auto;
        }
        #{&}__info{
            max-width: 100%;
        }
    }
    .about{
        #{&}__container{
            @include setDisplayFlex(row,center,center);
            max-width: getMaxWidth(m-width-l);
            margin: 0 auto;
            height: 100%;
            h2{
                display: unset;
                position: absolute;
                bottom: 0;
                padding-bottom: 1rem;
            }
        }
        #{&}__half{
            @include setDisplayFlex(row,flex-end,flex-end);
            width: 50%;
            height: 100%;
            position: relative;
        }
        #{&}__image-box{
            @include setDisplayFlex(row,center,center);
            position: relative;
            padding: 0;
            width: 50%;
            max-width: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        #{&}__info{
            background-color: unset;
            height: auto;
            bottom: unset;
            padding: unset;
            max-width: 100%;

            &__container{
                align-items: flex-start;
                
                h2{
                    position: unset;
                }
                span:nth-child(1n){
                    position: relative;
                    left: -15%;
                    margin: 1.5rem 0;
                }
                span:nth-child(2n){
                    position: relative;
                    left: -5%;
                }
            }
        }
    }
    .works{
        #{&}__container{
            @include setDisplayFlex(row,center,center);
            max-width: getMaxWidth(m-width-l);
            h2{
                display: unset;
                position: absolute;
                bottom: 0;
                padding-bottom: 1rem;
            }
        }
        #{&}__list{
            width: 50%;
            margin-bottom: 0;
            &__container{
                max-width: getMaxWidth(m-width-l);
                text-align: left;
                h2{
                    position: unset;
                }
                ul{
                    max-width: 100%;
                    li{
                        margin-left: 5rem;
                    }
                }
            }

        }
        #{&}__img-box{
            width: 50%;
            max-width: 100%;
        }
    }
    .footer{
        #{&}__container{
            max-width: getMaxWidth(m-width-l);
            .n-span{
                order: 1;
            }
            .f-span{
                order: 4;
            }
            .outside{
                display: none;
            }
        }
    
        #{&}__contacts{
            order: 3;
            @include setDisplayFlex(row,center,center);
            margin: 2rem 0;
            width: 100%;
            .inside{
                display: inline-block;
                margin-bottom: 0;
                width: 50%;
                svg{
                    max-width: 25rem;
                }
            }
            ul{
                width: 50%;
                margin: 1rem 0;
                text-align: left;
                li{
                    span:nth-child(odd){
                        width: 10%;
                        font-size: 3rem;
                    }
                    span:nth-child(even){
                        width: 70%;
                    }
               }
            }
        }
    }
}

// responsive x-large screen //1600px
@include media-xl{
    .header{
        #{&}__container{
            max-width: getMaxWidth(m-width-xl);
        }
        #{&}__logo{
            width: 43%;
            margin: auto;
        }
    }
    .about{
        #{&}__container{
            max-width: getMaxWidth(m-width-xl);
        }
        #{&}__image-box{
            max-width: 35rem;
        }
    }
    .works{
        #{&}__container{
            max-width: getMaxWidth(m-width-xl);
        }
        #{&}__img-box{
            max-width: 35rem;
        }
    }
    .footer{
        #{&}__container{
            max-width: getMaxWidth(m-width-xl);
        }
        #{&}__contacts{
            .inside{
                svg{
                    max-width: 30rem;
                }
            }
        }
    }
}