.works{
    position: relative;
    height: 100vh;
    background-color: getBgColor(secondary);
    #{&}__container{
        @include setDisplayFlex(column,center,center);
        
        max-width: getMaxWidth(m-width-s);
        margin: 0 auto;
        height: 100%;
    }

    #{&}__list{
        position: relative;
        @include setDisplayFlex(column,center,center);
        width: 90%;
        margin: auto;

        &__logo{
            position: absolute;
            top: 0;
            z-index: 0;
            svg{
                fill: #F3DBDB;
            }
        }

        &__container{
            position: relative;
            text-align: center;
            z-index: 1;
            h2{
                margin:1.5rem 0;
                letter-spacing: 2px;
            }
            ul{
                max-width: 50%;
                margin: 0 auto;
                li{ 
                    font-style: italic;
                    color: getColor(not-active);
                    svg{
                        visibility: hidden;
                    }
                }
            }
        }
    }

    #{&}__img-box{
        @include setDisplayFlex(column,center,center);
        width: 90%;
        margin: auto;
        height: auto;
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        img{
            visibility: hidden;
        }
    }

    
}